html {
	background: #fff;
	font-size: 100%;
	font-family: "Hevletica Neue", Helvetica, Arial, Sans-serif;
}

#page {
	width: 960px;
	margin: 0 auto;
	background: #fff;
}

#debug {
	min-width: 400px;
	margin: 0 auto;
	background: #ddd;
	border-top: 1px solid #bbb;
	
	font-size: .75em;
	font-family: Monaco, Courier, Serif;
	
	margin-top: 1em;
	padding: 1em;
}

header {
	position: relative;
	height: 100px;
}

header nav {
	position: absolute;
	top: 0px;
	right: 0px;
	
	width: 200px;
	text-align: center;
	margin: 1em auto;
	background: #efefef;
	padding: 1em;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

nav ul li {
	display: inline;
}

nav a {
	text-decoration: none;
}

footer {
	text-align: center;
	margin: 1em auto;
	background: #efefef;
	padding: 1em;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

nav ul li {
	padding: .5em;
}

nav ul li:hover {
	background: #bbb;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

h1 {
	font-size: 2em;
}

form input {
	outline: 0;
	border: 1px solid #aaa;
	padding: 3px;
	margin: 3px auto;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.field_with_errors input {
	border: 1px solid #e59999;
}

form input[type="submit"] {
	background: green;
	border: none;
	color: #fff;
	
	padding: 6px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#error_explanation {
	padding: 1em;
	margin: 1em auto;
	
	background: #feebeb;
	border-top: 1px solid #e59999;
	
	font-size: .85em;
}

#error_explanation ul {
	list-style: square;
}

#error_explanation ul li {
	margin-left: 2em;
}

.flash {
	padding: 1em;
	margin: 1em auto;
}

.success {
	background: #d3ffd6;
	border-top: 1px solid #68b86e;
}

.error {
	background: #feebeb;
	border-top: 1px solid #e59999;
}

.field {
	margin: 1em auto;
}