<header>
	<nav>
		<ul>
			<% if signed_in? %>
				<li>Hey, <%= current_user.name %> <%= link_to 'Sign Out', signout_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Sign In', signin_path %></li>
			<% end %>
	</nav>
</header>